body {
  font-family: sans-serif;
  margin: 0;
}

#body {
  margin: 0.5em;
}

#header {
  background-color: #000;
  color: #fff;
  padding: 0 0.5em 0 0.5em;
}

#header h1 {
  padding: 0;
  margin: 0 0 0.3em 0;
}

#header h1 a {
  text-decoration: none;
  color: #fff;
}

pre.content {
  overflow: auto;
}

code.log-line {
  white-space: pre-wrap;
}

div.log-section {
  border-bottom: 1px dotted #aaa;
}

div.log-section-header {
  border-bottom: 1px dotted #eee;
  font-size: 80%;
  margin: 0;
}

.log-warning-level {
  padding: 0 0.5em 0 0.5em;
}

.log-warning-level-notice {
  background-color: #ff9;
}

.log-warning-level-warn {
  background-color: #fd9;
}

.log-warning-level-error {
  background-color: #f99;
}

.log-warning-level-crit {
  background-color: #f77;
}

.log-date, .log-method, .log-user_agent, .log-app_name {
  font-size: 70%;
}

.log-response_bytes, .log-time {
  text-align: right;
}

.log-section-header th {
  font-weight: normal;
  border-bottom: 1px solid #000;
}

.response-code-200, .response-code-304 {
  color: #999;
}

.response-code-404 {
  color: #b72;
}

.response-code-500 {
  color: #b00;
}

.response-code-301 {
  color: #55a;
}

.controls {
  float: right;
}
