body {
  font-family: sans-serif;
  margin: 0;
}

#body {
  margin: 0.5em;
}

#header {
  background-color: #000;
  color: #fff;
  padding: 0 0.5em 0 0.5em;
}

#header h1 {
  padding: 0;
  margin: 0 0 0.3em 0;
}

#header h1 a {
  text-decoration: none;
  color: #fff;
}

pre.content {
  overflow: auto;
}
