Choose a log to view:

{{for name, logs in sorted(log_set.logs.iteritems()):}}
<h2>{{name}}</h2>

<ul>
  {{for path, log in sorted(logs.iteritems()):}}
  <li><a href="/view/{{log.group|url}}?path={{log.path|url}}">
        {{log.description}}</a>
  </li>
  {{endfor}}
</ul>

{{endfor}}

{{if log_set.skipped_files}}
<button type="button" class="toggle" toggle-el="#skipped-files">Show skipped
files</button><br>
<div id="skipped-files" style="display: none">
  <ul>
    {{for filename in sorted(log_set.skipped_files)}}
      <li><code>{{filename}}</code></li>
    {{endfor}}
  </ul>
</div>

{{endif}}
